input[type="file"] {
    display: none;
}

.c-file-upload {
    border-style: none;
    color:#24B61A;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 15px;
}

.c-file-upload:hover {
    color:#41D01E;
}
