input[type="file"] {
    display: none;
}

.c-file-upload {
    border-style: none;
    color:#24B61A;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 15px;
}

.c-file-upload:hover {
    color:#41D01E;
}

.PoPplantHolder {
  width:auto;
  min-width: 90%;
  height: auto;
  background-color: white;
  border-radius: 7px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.PoPfoll {
  float:right;
  margin: 20px 40px;
}
