.profileDiv {
  align-items: center;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  /*
  display: flex;
  justify-content: center;
  align-items: center;*/
  /*align-content: center;
  text-align: center;*/

  background: white;
  background-image: url("profilebg.png");
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  box-sizing: border-box;
  margin: 40px auto 40px auto;
  min-height: 600px;
  width: 65%;
  min-width: 800px;

}



.profileRight {

  float:right;
  margin: 40px;
}

.profileLeft {
  float:left;
  margin-left: 40px;
  margin-top: 40px;
  text-align: center;
  padding: 10px;
}

.profileLeft img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.profileLeft p {
  color:black;
  margin: 0;
  border-bottom-style: dotted;
  border-color: white;
  min-width: 350px;
}

.profileLeft div {
  text-align: right;
  margin-bottom: -10px;
}

.profileLeft div h3 {
  font-size: 2em;
  display: inline;
  color: #11690B;
  float:left;
  margin-top: 0;
}
.profileLeft div h4{
  font-size: 1.8em;
  display: inline;

}

.profileFoll{
  margin-top: 210px;
  margin-left: 150px;
  min-width: 300px;
  padding-top: -40px;
}

.profileSearch {
  position: absolute;
  right: 22%;
  padding: 40px 40px 0 40px;
}

.profileSearch input {
  width:270px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {

    color:black;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.7em;
}

.custom-file-upload:hover {
    color:white;
    font-size: 0.8em;
}


.fCard{
  background: rgba(203, 251, 171, 0.4);
  width: 280px;
  height:60px;
  padding:5px;
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom-style: groove;
  border-left-style:dotted;
  border-left-color: green;
  border-left-width: thick;
  border-top: none;
  border-bottom-width: thin;
  color: black;
}

.fCard img{
  background-image:url('placeholder.png');
  object-fit: cover;
  float: left;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.fCard button{
  margin-left: 10px;
}

.fCard p{
  margin-left: 5px;
  text-align: left;
  color: black;
  border-bottom-style: none;
}

.followCards {
margin-left: 20px;
width: 280px;
height: 200px;
overflow-y: scroll;
overflow-x: hidden;
scroll-behavior: smooth;
}

.followCards::-webkit-scrollbar {
  width: 1em;
}

.popupimage{
  width: 100%;
  height: 100%;
}
